<%- include('./includes/head') %>

  <body>

    <%- include('./includes/navbar') %>

      <div class="container mt-5">

        <% disciplinas.forEach(disciplina=> { %>

          <div id="biblioteca_disciplinas_titulo">
            <%= disciplina.nome %>
          </div>

          <div class="mb-2">
            <% if (disciplina.professores.length==0) { %>
              <p>
                não há professores(as) inscritos(as).
              </p>

              <% } else { %>

                <% disciplina.professores.forEach(professor=> { %>
                  <a href="/disciplinas/<%= disciplina.id %>/professores/<%= professor.id %>/topicos">
                  <p id="biblioteca_professor_nome">
                    - <%= professor.nome %> <%= professor.sobrenome %>
                      </p>
                    </a>
                  <% }) %>

                    <% } %>
          </div>


                    <% }) %>

      </div>

  </body>

  </html>
