<%- include('./includes/head') %>

  <script>
    function load(url) {
      document.getElementById("embed_url").src = url;
    }
  </script>

  <body>

    <%- include('./includes/navbar') %>

      <div class="container my-5">

        <div class="row">

          <% if (topico.aulas.length == 0) { %>
            <p>
                 - não há aulas cadastradas para esse tópico.
            </p>

            <% } else { %>

              <div class="col-md-6">

                <iframe width="560" height="315" id="embed_url" src="<%- topico.aulas[0].url %>"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>

              </div>

              <div class="col-md-6">

                <a href="/disciplinas/<%= id_disciplina %>/professores/<%= id_professor %>/topicos">
                  <button type="button" class="btn btn-primary" id="botao_primario">
                    <%= topico.nome %>
                  </button>
                </a>


                <% topico.aulas.forEach((aula, index)=> { %>

                  <p onclick="load(`<%- aula.url %>`)" id="aulas_titulo">
                    <%= aula.nome %>
                  </p>

                <% }) %>

              </div>

            <% } %>

        </div>

      </div>

  </body>

  </html>
