<%- include('./includes/head') %>

  <body>

    <%- include('./includes/navbar') %>

      <div class="container">

        <div class="row py-5 text-center">

          <div class="col-md-6">
            <a href="/disciplinas">
              <i class="fas fa-book" id="dashboard_icones"></i>
              <h2 class="my-2" id="dashboard_titulo">BIBLIOTECA</h2>
              <p id="dashboard_paragrafo">encontre aqui todas as disciplinas</p>
            </a>
          </div>

          <div class="col-md-6">
            <i class="far fa-clipboard" id="dashboard_icones"></i>
            <h2 class="my-2" id="dashboard_titulo">ANOTAÇÕES</h2>
            <p id="dashboard_paragrafo">...a gente sabe que às vezes dá aquele branco...</p>
          </div>

        </div>

        <div class="row">

          <div>
            <span id="botao_terciario">meus cursos</span>
          </div>

          <% if (disciplinas.length> 0) { %>

            <div>
              <% disciplinas.forEach(disciplina=> { %>

                <div>
                  <a href="/disciplinas/<%= disciplina.id %>/professores/<%= disciplina.EstudanteDisciplina.id_professor %>/topicos">
                      <%= disciplina.nome %>
                  </a>
                </div>

              <% }) %>
            </div>

          <% } %>

        </div>

      </div>

  </body>

  </html>
