<%- include('./includes/head') %>

  <body>

    <%- include('./includes/navbar') %>

      <div class="container">

        <form
          action="/disciplinas/<%= id_disciplina %>/topicos/<%= id_topico %>/aulas/<%= id_aula %>"
          method="post"
          class="my-5 p-3"
          id="aulas_form">

          <div class="mb-3">

            <span id="topics_fields">nome da aula:</span>
            <label for="nome" class="form-label"></label>
            <input type="text" name="nome" class="form-control" id="aulas_form_input"
              placeholder="digite o nome da aula" value="<%= aula.nome %>">

            <span id="topics_fields">digite a url:</span>
            <label for="url" class="form-label"></label>
            <input
              type="text"
              name="url"
              class="form-control"
              id="aulas_form_input"
              placeholder="utilize este FORMATO: https://www.youtube.com/embed/link"
              value="<%= aula.url %>">

            <label for="nome" class="form-label"></label>
            <input type="file" name="arquivo" single class="form-control" id="aulas_form_input">

          </div>

          <button type="submit" class="btn btn-primary my-3" id="botao_secundario">atualizar</button>

        </form>

        <% if (erros.length > 0) { %>
          <div>
            <% erros.forEach(erro => { %>
              <span id="form_erros">
                <%= erro %>
              </span>
            <% }) %>
          </div>
        <% } %>

      </div>

  </body>

  </html>
