<%- include('./includes/head') %>

  <body>

    <%- include('./includes/navbar') %>

      <div class="container mt-5">

        <% if (topicos.length==0) { %>
          <p>
            <%= "não há tópicos cadastrados para essa disciplina." %>
              <a href="/disciplinas/<%= id_disciplina %>/topicos/form">
                Cadastrar novo tópico
              </a>
          </p>

          <% } else { %>

            <div class="row">

              <% topicos.forEach(topico=> { %>

                <div>
                  <button
                    class="btn btn-primary mt-2 p-2"
                    id="topicos_toggle"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tpcs_togg_collap">
                    <%= topico.nome %>
                  </button>

                  <!-- BOTÃO PARA EDITAR UM TÓPICO -->
                  <a href="/disciplinas/<%= disciplina.id %>/topicos/<%= topico.id %>/form">
                    <i class="far fa-edit" id="topicos_icones"></i>
                  </a>

                  <!-- BOTÃO PARA APAGAR UM TÓPICO -->
                  <form
                    action="/disciplinas/<%= disciplina.id %>/topicos/<%= topico.id %>/?_method=DELETE"
                    method="post"
                    enctype="multipart/form-data">
                    <button id="topicos_botao_deletar" type="submit">
                      <i class="far fa-trash-alt" id="topicos_icones"></i>
                    </button>
                  </form>

                </div>

                <% if (topico.aulas.length==0) { %>
                  <div class="collapse" id="tpcs_togg_collap">
                    <p>
                      não há aulas cadastradas para esse tópico.
                    </p>
                  </div>

                  <% } else { %>

                    <% topico.aulas.forEach(aula=> { %>
                      <div class="collapse" id="tpcs_togg_collap">
                        <p id="topicos_aulas_titulo">
                          <a href="/disciplinas/<%= id_disciplina %>/topicos/<%= topico.id %>/aulas">
                            - <%= aula.nome %>
                          </a>
                        </p>
                      </div>
                    <% }) %>

                  <% } %>

                  <div class="collapse" id="tpcs_togg_collap">
                    <button type="button" class="btn btn-primary" id="botao_secundario">
                      <i class="fas fa-plus"></i>
                      <a href="/disciplinas/<%= id_disciplina %>/topicos/<%= topico.id %>/aulas/form">
                        aula
                      </a>
                    </button>
                  </div>

              <% }) %>

            </div>

            <p>
                <a href="/disciplinas/<%= id_disciplina %>/topicos/form">
                  cadastrar novo tópico
                </a>
            </p>

          <% } %>

      </div>

  </body>

  </html>
