<%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/dashboard_estudante.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="container">

                    <div class="saudacoes">
                        <img class="saudacoes-icone" src="https://avatarfiles.alphacoders.com/152/152922.jpg">
                        <h2>Olá, <%= estudante.nome %></h2>
                    </div>

                    <div class="titulo-meus-cursos">meus cursos</div>

                    <% if (disciplinas.length === 0) { %>
                        <p><%= "não há disciplinas cadastradas"%></p>
                    <% } else { %>
                        <% disciplinas.forEach(disciplina=> { %>
                            <div class="lista-cursos">
                                <div class="curso">
                                    <a href="/disciplinas/<%= disciplina.id %>/professores/<%= disciplina.EstudanteDisciplina.fk_professor %>/topicos">
                                    <li><%= disciplina.nome %></li></a>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>

                </div>
            </main>

    </body>
    <!-- <%- include('./partials/footer') %> -->

    </html>