<%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/disciplinas_form.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>

                <div class="container">
                    <div class="content-container">

                        <section class="add-material">

                            <p>EDITAR DISCIPLINA</p>

                            <% if (disciplinas.length == 0) { %>
                                <p><%= "cadastre a sua primeira disciplina" %></p>
                            
                            <% } else { %>
                                <p>clique aqui para ver a lista de disciplinas</p>
                                <% disciplinas.forEach(disciplina => { %>
                                    <p><%= disciplina.nome %></p>
                                <% }) %>
                            <% } %>

                            <form id="aula" action="/disciplinas/" method="POST">
                                <!-- <div class="lista-topicos">
                                    <button>tópico</button>
                                    <input type="text" name="topico" placeholder="escolha o topico">
                                </div> -->

                                <div class="add-material-cabecalho">
                                    <div>
                                        <button>nome</button>
                                        <input type="text" name="nome" placeholder="digite o nome da disciplina">
                                    </div>

                                    <div>
                                        <button>capa</button>
                                        <input type="text" name="imagem" placeholder="informe a url da imagem de capa">
                                    </div>
                                </div>

                                <button id="adicionar-aula" type="submit">ADICIONAR DISCIPLINA</button>
                            </form>

                        </section>

                    </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>